:root {
--dark: #333;
--accent-dark: rgb(175, 3, 89, .7);
--links: rgb(3, 129, 175);
--accent: rgb(175, 3, 89);
--light: #999;
}
/* Element selectors */
html, body{
    height: 100%;
    min-width: 320px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: var(--dark);
}

body{
    padding: 3%;
}

header, nav ul, .about-content {
    display: flex;
}

header, main, footer{
    padding-bottom: 2%;
}

header{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

nav{
    flex: 1 0 0;
}

nav ul {
    justify-content: flex-end;
}

h1, h3 {
    font-weight: normal;
}

h1{
    font-size: 1.7rem;
    color: var(--accent-dark);
}

h2{
    color: var(--light);
    font-size: 1.5rem;
    padding-bottom: 2%;
    font-weight: 600;
    text-transform: uppercase;
}

h3{
    color: var(--accent-dark);
    font-size: 1.1rem;
    border-bottom: 1px solid var(--accent-dark);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

a, a:hover, a:active, a:focus, a:visited{
    color: var(--links);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

a:hover, a:active, a:focus{
    text-decoration: underline;
}

nav{
    flex-shrink: 0;
}

nav li{
    padding: 1% 2%;
    justify-self: center;
    font-size: 1.1rem;
}

nav li:last-child{
    padding-right: 0;
}

footer p{
      font-size: .9rem;
      text-align: right;
}

p {
    line-height: 1.4;
}

article{
    display: flex;
    justify-content: space-between;
}

article, article div, section{
    padding: 1% 0;
}

article a{
    display: block;
    padding-top: 1%;
}

article img{
    margin: 0 0 30px 30px;
}

/* Class selectors */
.light{
    color: var(--light);
}

.about-content p{
    padding-right: 2%;
}

.about-content img{
    padding: 0 0 30px 30px;
}

.articles, .contacts, .contacts div{
    display: flex;
    flex-wrap: wrap;
}

.articles article:first-child{
    flex: 1 0 100%;
    padding-top: 0;
}

.articles article:nth-child(n+2){
    flex: 1 0 50%;
}

.articles article:nth-child(2){
    padding-right: 10px;
}

.articles article:nth-child(3){
    padding-left: 10px;
}

.contacts {
    justify-content: space-evenly;
}

.contacts button{
    flex: 1 0 calc(25% - 20px);
    flex-wrap: nowrap;
    align-items: center;
    font-size: 1.1rem;
    display: flex;
    padding: 5px;
    justify-content: center;
    background-color: var(--accent-dark);
    border: 1px solid var(--accent);
    color: #fff;
    border-radius: 6px;
}

.contacts button:hover{
    transition: all 0.3s ease-in;
    background-color: var(--accent);
}

.contacts button, .contacts button > *{
    cursor: pointer;
}

.contacts svg, .contacts button{
    margin-right: 20px;
}

.contacts button:last-child{
    margin-right: 0;
}

/* Media queries */
@media screen and (max-width: 768px) {
    h1{
        font-size: 2rem;
    }

    header, nav ul, .contacts {
        flex-direction: column;
    }

    nav li {
        text-align: center;
        padding: 6%;
    }

    footer p{
        text-align: center;
    }

    .contacts div{
        flex: 1 0 calc(100% - 20px);
    }

    .articles article:nth-child(n+2){
        flex: 1 0 100%;
    }

    article:nth-child(2) img{
        margin-right: 0;
    }

    .articles article:nth-child(2){
        padding-right: 0;
    }

    .articles article:nth-child(3){
        padding-left: 0;
    }
}