:root {
--white: #fff;
--font: #E9BD43;
--accent-dark: #2c3b4a;
--links: rgb(3, 184, 250);
--accent: #4d6886;
--light: #f0f0f0;
}
/* Element selectors */
html, body {
    min-width: 320px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: var(--white);
}

body {
    padding: 3%;
    background: rgba(126, 3, 175,0.2);
background: linear-gradient(180deg, var(--accent-dark) 0%,var(--accent) 100%)no-repeat center center fixed;
  background-size: cover;
}

header, nav ul, .about-content {
    display: flex;
}

header {
    padding-bottom: 2%;
}

header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

nav {
    flex: 1 0 0;
}

nav ul {
    justify-content: flex-end;
}

h1, h3 {
    font-weight: normal;
}

h1 {
    font-size: 2rem;
    color: var(--white);
    font-weight: 700;
}

h2 {
    color: var(--white);
    font-size: 1.6rem;
    padding: 3% 0;
    font-weight: 600;
    text-transform: uppercase;
}

h3 {
    color: var(--links);
    font-size: 1.1rem;
    padding-bottom: 10px;
}

a, a:hover, a:active, a:focus, a:visited {
    color: var(--font);
    text-decoration: none;
    cursor: pointer;
    
}

a:hover, a:active, a:focus {
    color: var(--dark);
    text-decoration: underline;
    transition: all 0.3s ease-in;
}

nav {
    flex-shrink: 0;
}

nav li {
    padding: 1% 2%;
    justify-self: center;
    font-size: 1.1rem;
}

nav li:last-child {
    padding-right: 0;
}

footer p {
    font-size: .9rem;
    text-align: right;
    margin-top: 2%;
}

main .decorative-border:last-child {
    margin-top: 30px;
}

p {
    line-height: 1.4;
}

article a {
    display: block;
    padding-top: 5%;
}

article a::after{
    content: " >";
    vertical-align: text-top;
    line-height: 1.2;
}

article img {
    margin: 0 0 30px 30px;
    width: 50%;
    height: 50%;
    border: 2px solid var(--font);
    border-radius: 4px;
}

/* Class selectors */
.decorative-border, .articles h3::after {
    height: 3px;
    background: var(--light);
background: linear-gradient(90deg, var(--links) 0%, var(--light) 50%, var(--links) 100%)no-repeat center center fixed;
    background-size: cover;
    border-radius: 6px;
}

.articles h3::after{
    content: '';
    display: block;
    height: 2px;
    margin: 10px 0 0 0;
}

.light {
    color: var(--light);
}

.about-content p {
    padding-right: 2%;
}

.about-content img {
    margin: 0 0 30px 30px;
    width: 60%;
    height: 50%;
    border: 2px solid var(--font);
    border-radius: 4px;
}

.article-content {
    display: flex;
    justify-content: space-between;
}

.article-content, .article-content p, section {
    padding: 1% 0;
}

.articles, .contacts, .contacts div {
    display: flex;
    flex-wrap: wrap;
}

.articles article:first-child {
    flex: 1 0 100%;
    padding-top: 0;
}

.articles article:nth-child(n+2) {
    flex: 1 0 50%;
}

.articles article:nth-child(2) {
    padding-right: 10px;
}

.articles article:nth-child(3) {
    padding-left: 10px;
}

.contacts {
    justify-content: space-evenly;
    margin-top: 1%;
}

.contacts button {
    flex: 1 0 calc(25% - 20px);
    font-size: 1.1rem;
    padding: 7px;
    background-color: var(--font);
    border: 1px solid var(--accent-dark);
    color: var(--accent);
    border-radius: 6px;
}

.contacts button:hover {
    transition: all 0.3s ease-in-out;
    color: var(--font);  
    background-color: var(--accent-dark);  
    border-color: var(--font);
}

.contacts button, .contacts button > * {
    cursor: pointer;
}

.contacts button {
    margin-right: 20px;
}

.contacts button:last-child {
    margin-right: 0;
}

.contacts button span, .contacts button svg{
    vertical-align: middle;
    display: inline-block;
    padding-right: 2px;
}

/* Media queries */
@media screen and (max-width: 768px) {
    h1{
        font-size: 1.7rem;
    }

    header, nav ul, .contacts {
        flex-direction: column;
    }

    nav li {
        text-align: center;
        padding: 6%;
        margin-top: 5px;
    }

    footer p {
        text-align: center;
    }

    section {
        padding-bottom: 3%;
    }

    h2 {
        padding-bottom: 5%;
    }

    article:nth-child(2) img {
        margin-right: 0;
    }

    .about-content, .article-content {
        flex-direction: column;
    }

    .about-content p, .article-content p {
        order: 2;
    }

    .about-content img, .article-content img {
        width: 100%;
        order: 1;
        margin-left: 0;
    }

    .articles article:nth-child(n+2) {
        flex: 1 0 100%;
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px dotted #ccc;
    }

    .articles article:nth-child(2) {
        padding-right: 0;
    }

    .articles article:nth-child(3) {
        padding-left: 0;
    }

    .contacts div {
        flex: 1 0 calc(100% - 20px);
    }

    .contacts button {
        margin-bottom: 2%;
        margin-right: 0;
    }
}